<app-loading-spinner *ngIf="isLoading" class="spinner"></app-loading-spinner>
<div class="container" *ngIf="!isLoading">
  <p *ngIf="success" class="message success">{{success}}</p>
  <p *ngIf="error" class="message error">{{error}}</p>
  <div class="page-title">
    <h1>Reset password</h1>
  </div>
  <form class="reset-password-form" #form="ngForm" (ngSubmit)="onResetPasswordSubmit(password, password2)">
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon [icon]="faPassword"></fa-icon>
        Password (min. 6 characters)
      </mat-label>
      <input matInput type="password"
             ngModel
             #password="ngModel"
             name="password"
             required
             minlength="6">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon [icon]="faPassword"></fa-icon>
        Confirm password
      </mat-label>
      <input matInput type="password"
             ngModel
             #password2="ngModel"
             name="password2"
             required
             minlength="6">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Confirm</button>
  </form>
</div>
