.container {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 30rem;
  max-height: 30rem;
  width: auto;
  height: auto;
  border: 3px solid white;
  box-shadow: gray 1px 1px 8px 1px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.4rem 0;
}

.quantity-input {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.5rem;
}

button {
  display: block;
  width: 30rem;
}

.delivery-info {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width: 50rem) {
  img {
    max-width: 30rem;
    max-height: 30rem;
  }
}

@media (min-width: 80rem) {
  .container {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-gap: 0 2rem;
  }

  img {
    grid-column: 1;
    max-width: 28rem;
    max-height: 28rem;
    justify-self: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 90%;
  }

  .description {
    grid-column: span 2;
    align-self: start;
  }
}
