<header class="main-header">
  <a class="main-header__title"> MARLO </a>

  <ul class="social-media">
    <li>
      <a>
        <fa-icon [icon]="faSnapchat"></fa-icon>
        Snapchat</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faInstagram"></fa-icon>
        Instagram</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faTwitter"></fa-icon>
        Twitter</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faYoutube"></fa-icon>
        YouTube</a>
    </li>
  </ul>

  <ul class="options">
    <li class="options__item">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </li>
    <li class="options__item">
      <fa-icon [icon]="faUser"></fa-icon> <span>Sign in</span>
    </li>
  </ul>

  <button class="toggle-button">
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
  </button>
</header>
