<header class="main-header">
  <a class="main-header__title" routerLink='/gallery'> MARLO </a>

  <ul class="desktop-social-media">
    <li>
      <a>
        <fa-icon [icon]="faSnapchat"></fa-icon>
        Snapchat</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faInstagram"></fa-icon>
        Instagram</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faTwitter"></fa-icon>
        Twitter</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faYoutube"></fa-icon>
        YouTube</a>
    </li>
  </ul>

  <ul *ngIf="loadingAuthState" class="loadingAuthStateSpinner">
    <app-auth-await-spinner></app-auth-await-spinner>
  </ul>
  <ul #authStateElement class="desktop-options">
    <li class="desktop-options__item" routerLink="/basket">
      <div [matBadgeHidden]="!basket || basket.length<1"
           [matBadge]="basket ? basket.length : null"
           matBadgeSize="medium"
      >
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </div>
    </li>
    <li class="desktop-options__item" *ngIf="!isAuthenticated">
      <a routerLink="/login" [ngClass]="{'active': auth.isActive || register.isActive }">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Sign in</span>
      </a>
    </li>
    <li #desktopSettingsDropdown class="desktop-options__item">
      <div *ngIf="isAuthenticated" (click)="onMyAccountClickDesktop()">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>My account</span>
        <fa-icon [icon]="faArrowDown" class="arrow-down"></fa-icon>
      </div>
    </li>
  </ul>

  <button class="toggle-button" (click)="onToggleButtonClick()">
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
  </button>
</header>
<p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
<div #mobileNav class="mobile-nav" [ngClass]="{'show-mobile-nav': showMobileNav}">
  <ul class="mobile-nav__items">
    <li>
      <a>
        <fa-icon [icon]="faSnapchat"></fa-icon>
        Snapchat</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faInstagram"></fa-icon>
        Instagram</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faTwitter"></fa-icon>
        Twitter</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faYoutube"></fa-icon>
        YouTube</a>
    </li>
    <li>
      <a routerLink="/basket">
        <div style="display: inline-block" [matBadgeHidden]="!basket || basket.length<1"
             [matBadge]="basket ? basket.length : null"
             matBadgeSize="medium"
        >
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </div>
      </a>
    </li>
    <li *ngIf="!isAuthenticated">
      <a routerLink="/login" [ngClass]="{'active': auth.isActive || register.isActive }">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Sign in</span>
      </a>
    </li>
    <li #mobileSettingsDropdown>
      <div *ngIf="isAuthenticated" (click)="onMyAccountClickMobile()">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>My account</span>
        <fa-icon class="arrow-down" [icon]="faArrowDown"></fa-icon>
      </div>
    </li>
    <li class="mobile-nav-settings" [ngClass]="{'show-settings-mobile': showSettingsMobile}">
      <p class="mobile-nav-settings__item" routerLink="/profile">Profile</p>
      <p class="mobile-nav-settings__item" (click)="onLogoutClick()">Log out</p>
    </li>
  </ul>
</div>

<a routerLink="/login" routerLinkActive #auth="routerLinkActive" style="display: none"></a>
<a routerLink="/register" routerLinkActive #register="routerLinkActive" style="display: none"></a>

<div class="settings" [ngClass]="{'show-settings-desktop': showSettingsDesktop}">
  <ul class="settings-items">
    <li routerLink="/profile">Profile</li>
    <li (click)="onLogoutClick()">Log out</li>
  </ul>
</div>
