<header class="main-header">
  <a class="main-header__title"> MARLO </a>

  <ul class="desktop-social-media">
    <li>
      <a>
        <fa-icon [icon]="faSnapchat"></fa-icon>
        Snapchat</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faInstagram"></fa-icon>
        Instagram</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faTwitter"></fa-icon>
        Twitter</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faYoutube"></fa-icon>
        YouTube</a>
    </li>
  </ul>

  <ul class="desktop-options">
    <li class="desktop-options__item">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </li>
    <li class="desktop-options__item" *ngIf="!isAuthenticated">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>Sign in</span>
    </li>
    <li #desktopSettingsDropdown class="desktop-options__item">
      <div *ngIf="isAuthenticated" (click)="onMyAccountClickDesktop()">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>My account</span>
        <fa-icon [icon]="faArrowDown" class="arrow-down"></fa-icon>
      </div>
    </li>
  </ul>

  <button class="toggle-button" (click)="onToggleButtonClick()">
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
  </button>
</header>
<div class="mobile-nav" [ngClass]="{'show-mobile-nav': showMobileNav}">
  <ul class="mobile-nav__items">
    <li>
      <a>
        <fa-icon [icon]="faSnapchat"></fa-icon>
        Snapchat</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faInstagram"></fa-icon>
        Instagram</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faTwitter"></fa-icon>
        Twitter</a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faYoutube"></fa-icon>
        YouTube</a>
    </li>
    <li>
      <fa-icon [icon]="faShoppingCart"></fa-icon>
    </li>
    <li *ngIf="!isAuthenticated">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>Sign in</span>
    </li>
    <li #mobileSettingsDropdown>
      <div *ngIf="isAuthenticated" (click)="onMyAccountClickMobile()">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>My account</span>
        <fa-icon class="arrow-down" [icon]="faArrowDown"></fa-icon>
      </div>
    </li>
    <li class="mobile-nav-settings" [ngClass]="{'show-settings-mobile': showSettingsMobile}">
      <p class="mobile-nav-settings__item">Settings</p>
      <p class="mobile-nav-settings__item">Log out</p>
    </li>
  </ul>
</div>

<div class="settings" [ngClass]="{'show-settings-desktop': showSettingsDesktop}">
  <ul class="settings-items">
    <li>Profile</li>
    <li>Log out</li>
  </ul>
</div>
