.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 13rem;
  min-height: 15rem;
  width: 100%;
  height: 100%;
}

.modal-title {
  font-size: 1rem;
  margin: 0 0 0.4rem 0;
}

.modal-subtitle {
  text-align: center;
  font-size: 0.8rem;
  height: fit-content;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
}

.modal-form__input {
  width: 80%;
  padding: 0;
  margin: 0;
}

.modal-form__buttons {
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal-form__buttons button {
  width: 40%;
  max-width: 10rem;
}

.message {
  word-break: break-word;
  position: absolute;
  top: 25%;
  text-align: center;
  margin: 0.3rem 0 0 0;
  font-size: 0.8rem;
}

.success{
  color: green;
}

.error{
  color: red;
}

@media (min-width: 35rem) {
  .modal-title{
    font-size: 1.5rem;
  }

  .modal-subtitle{
    font-size: 1.2rem;
  }

  .modal-form__buttons button {
    width: 30%;
  }

  .message{
    top:28%
  }
}

@media (min-width: 70rem) {
  .container{
    width: 40vw;
    height: 20%;
  }

  .message{
    font-size: 1rem;
  }
}
