.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greetings {
  margin: 1.5rem 0 0 0;
}

.register-link {
  color: dodgerblue;
  cursor: pointer;
}

.sign-in-form {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  width: 100%;
  text-align: center;
}

.spinner {
  position: absolute;
  top: 40%;
}

.hide-element {
  opacity: 0;
}

mat-form-field {
  width: 100%;
}

mat-form-field fa-icon {
  margin-right: 0.2rem;
}

button {
  width: 100%;
  height: 3rem;
}

.forgot-password-link {
  width: 100%;
  max-width: 30rem;
  color: dodgerblue;
  cursor: pointer;
  text-align: right;
  margin: 0.4rem;
}

hr {
  width: 95%;
  margin: 3rem 0;
  border-top: 1px solid #eceeea;
}

.sign-in-with-provider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-with-provider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  height: 4rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.sign-in-with-provider-button span {
  margin-left: 0.5rem;
}

.facebook-button {
  background: cornflowerblue;
  color: white;
  border-color: cornflowerblue;
}

.facebook-button fa-icon {
  font-size: 1.5rem;
}

.google-button fa-icon {
  font-size: 1.5rem;
  color: green;
}

.googleFbSignInError {
 color: red;
  position: absolute;
  top:-40%;
  text-align: center;
}

@media (min-width: 55rem) {
  .container {
    display: grid;
    grid-template-columns: 40% 5% 40%;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }

  .page-title {
    grid-row: 1;
    grid-column: span 3;
    margin-bottom: 2rem;
  }

  hr {
    width: 1%;
    height: 30rem;
    margin: auto;
    color: #eceeea;
  }

  .sign-in-with-provider-button {
    width: 95%;
  }

  .spinner {
    top: 45%;
    left: 25%;
  }
}

@media (min-width: 90rem) {
  .container {
    grid-template-columns: 30% 5% 30%;
  }

  .spinner {
    left: 30%;
  }

  .googleFbSignInError {
    top:-50%;
  }
}
