<div class="container">
  <!--  <p class="message error">{{error}}</p>-->
  <app-loading-spinner *ngIf="purchaseStarted" class="spinner"></app-loading-spinner>
  <h1>Checkout</h1>
  <form class="form">
    <mat-vertical-stepper linear>
      <mat-step label="Personal data" [completed]=personalData.valid>
        <div ngModelGroup="personalData" #personalData="ngModelGroup" class="checkout-step">
          <mat-radio-group
            color="primary">
            <mat-radio-button value="mr" style="margin-right: 30px" checked>Mr.</mat-radio-button>
            <mat-radio-button value="mrs">Mrs.</mat-radio-button>
          </mat-radio-group>
          <mat-form-field class="checkout-step__field">
            <mat-label>First name</mat-label>
            <input matInput
                   name="firstName"
                   [ngModel]="currentUser?currentUser.firstName:''"
                   #firstName="ngModel"
                   required
            >
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>Last name</mat-label>
            <input matInput
                   name="lastName"
                   [ngModel]="currentUser?currentUser.lastName:''"
                   required
            >
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>
              Email
            </mat-label>
            <input matInput
                   name="email"
                   [ngModel]="currentUser?currentUser.email:''"
                   required
                   email
            >
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>
              Phone number (optional)
            </mat-label>
            <input matInput
                   name="phone"
                   [ngModel]="currentUser?currentUser.phone:''">
            <!--                   pattern="^(\+44\s?7\d{3}|\(?07\d{3}\)?)\s?\d{3}\s?\d{3}$"-->
            <mat-hint align="end">Only digits</mat-hint>
          </mat-form-field>
        </div>
      </mat-step>
      <mat-step label="Shipping address" [completed]="address.valid">
        <div ngModelGroup="address" #address="ngModelGroup" class="checkout-step">
          <mat-form-field class="checkout-step__field">
            <mat-label>Address line 1</mat-label>
            <input matInput
                   name="addressLine1"
                   [ngModel]="currentUser?currentUser.addressLine1:''"
                   required>
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>Address line 2</mat-label>
            <input matInput
                   name="addressLine2"
                   [ngModel]="currentUser?currentUser.addressLine2:''">
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>City/Town</mat-label>
            <input matInput
                   name="city"
                   [ngModel]="currentUser?currentUser.city:''">
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>Post code</mat-label>
            <input matInput
                   name="postCode"
                   [ngModel]="currentUser?currentUser.postCode:''"
                   required
                   pattern="([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2})">
          </mat-form-field>
          <mat-form-field class="checkout-step__field">
            <mat-label>County</mat-label>
            <mat-select [value]="currentUser? currentUser.county : null">
              <mat-optgroup label="England">
                <mat-option *ngFor="let county of countiesOfEngland"
                            value="{{county}}"
                >{{county}}</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Scotland">
                <mat-option *ngFor="let county of countiesOfScotland"
                            value="{{county}}"
                >{{county}}</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Wales">
                <mat-option *ngFor="let county of countiesOfWales"
                            value="{{county}}"
                >{{county}}</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Northern Ireland">
                <mat-option *ngFor="let county of countiesOfNorthernIreland"
                            value="{{county}}"
                >{{county}}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-step>
      <mat-step label="Finalize">
        <button mat-raised-button color="primary"
                class="purchase-button"
                [disabled]="purchaseStarted"
                (click)="purchaseImages()"
        >Go to payment
        </button>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>


<!--  <button mat-raised-button color="primary"-->
<!--          class="purchase-button"-->
<!--          [disabled]="purchaseStarted"-->
<!--          (click)="testMethod()"-->
<!--  >FullFill Test-->
<!--  </button>-->
