.container{
  width: 100%;
}

.purchase-button{
  margin: 3rem;
}

.message .error{
  color: red;
  width: 100%;
  text-align: center;
}


.spinner {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}



