<div class="container">
  <div class="page-title">
    <h1>Create account</h1>
  </div>
  <div class="sign-up-form">
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon [icon]="faUser"></fa-icon>
        Email
      </mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon [icon]="faPassword"></fa-icon>
        Password
      </mat-label>
      <input matInput type="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon [icon]="faPassword"></fa-icon>
        Confirm password
      </mat-label>
      <input matInput type="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Sign up</button>
  </div>
</div>
