<div class="container">
  <img src="{{image.imageUrl}}" alt="Photo" class="image">
  <div class="quantity-element">
    <span>Quantity:</span>
    <div class="quantity-element__action">
      <button (click)="onDecreaseQuantity()"> - </button>
      <input type="text" [(ngModel)]="quantity">
      <button (click)="onIncreaseQuantity()"> + </button>
    </div>
  </div>
  <div class="price">£{{image.price}}</div>
  <fa-icon [icon]="faBin"
           class="bin"
           (click)="onDelete()"
  ></fa-icon>
</div>
