<div class="container">
  <h2 class="modal-title">Forgot your password?</h2>
  <mat-dialog-content class="modal-subtitle">Please provide the email you registered with us.</mat-dialog-content>

  <p class="message error" *ngIf="error">{{error}}</p>
  <p class="message success" *ngIf="success">{{success}}</p>

  <form class="modal-form" (ngSubmit)="onSubmit(email)">
    <mat-form-field class="modal-form__input">
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        ngModel
        required
        email
        #email="ngModel">
    </mat-form-field>
    <div class="modal-form__buttons">
      <button color="primary" [disabled]="!email.valid" mat-raised-button type="submit">Send</button>
      <button mat-button mat-dialog-close>Close</button>
    </div>
  </form>
</div>
