.container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-title {
  color: darkblue;
  align-self: center;
}

.main-content {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-auto-rows: 22rem;
  grid-gap: 2rem;
  justify-content: center;
}

app-gallery-image {
  border: 3px solid white;
  box-shadow: gray 1px 1px 8px 1px;
  transition: transform 0.3s;
}

app-gallery-image:hover {
  cursor: pointer;
}

@media (min-width: 56rem) {
  .main-content {
    grid-template-columns: repeat(auto-fill, 16rem);
    grid-auto-rows: 18rem;
  }

  app-gallery-image:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 40rem) {
  .container{
    width: 75%;
  }
}

