* {
  box-sizing: border-box;
}

.full-content {
  margin: 0;
  display: grid;
  height: 100%;
  grid-template-rows: 3rem auto fit-content(8rem);
  grid-template-areas: "header" "main" "footer";
}

app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

app-footer{
  grid-area: footer;
  background: black;
}
