.full-content {
  margin: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 5rem auto fit-content(8rem);
  grid-template-areas: "header" "main" "footer";
}

app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

main {
  grid-area: main;
  width: 100%;
}

app-footer {
  grid-area: footer;
  background: black;
}

.error-message {
  width: 100%;
  position: absolute;
  top: 4%;
  color: red;
  z-index: 15;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

