.container {
  height: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.reset-password-form {
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-form-field fa-icon {
  margin-right: 0.2rem;
}

button {
  width: 100%;
  height: 3rem;
}

.message {
  word-break: break-word;
  width: 100%;
  text-align: center;
  bottom: 15%;
  margin: 0;
}

.error {
  color: red;
}

.success {
  color: green;
  font-weight: bold;
}

.spinner{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 40rem) {
  .message{
    position: absolute;
    top: 15%;
    width: 60%;
  }
}

